@import "tailwindcss";
@custom-variant dark (&:where(.dark, .dark *));

@theme {
  --color-primary: #2563eb;
  --color-primary-light: #3b82f6;
  --color-secondary: #e0f2fe;
  --color-accent: #1d4ed8;
  --color-background: #f8fafc;
  --color-foreground: #0f172a;

  --color-primary-dark: #60a5fa;
  --color-primary-light-dark: #93c5fd;
  --color-secondary-dark: #1e293b;
  --color-accent-dark: #3b82f6;
  --color-background-dark: #0f172a;
  --color-foreground-dark: #f8fafc;
  --color-bg-gradient: ;
}


.bg-gradient {
  @apply from-primary/70 dark:bg-primary-light/70 bg-gradient-to-tl to-indigo-500 backdrop-blur-md;
}

.pattern {
  width: 100%;
  height: 100%;
  --color: #e1e1e1;
  background-color: #f3f3f3;
  background-image:
    linear-gradient(
      0deg,
      transparent 24%,
      var(--color) 25%,
      var(--color) 26%,
      transparent 27%,
      transparent 74%,
      var(--color) 75%,
      var(--color) 76%,
      transparent 77%,
      transparent
    ),
    linear-gradient(
      90deg,
      transparent 24%,
      var(--color) 25%,
      var(--color) 26%,
      transparent 27%,
      transparent 74%,
      var(--color) 75%,
      var(--color) 76%,
      transparent 77%,
      transparent
    );
  background-size: 55px 55px;
  animation: move 1s linear infinite;
}

@keyframes move {
  0% {
    background-position: 0 0;
  }

  100% {
    background-position: -55px -55px;
  }
}
.loader {
  @apply border-primary h-8 w-8 animate-spin rounded-full border-4 border-t-4;
  border-top-color: transparent;
  animation: spin 1s linear infinite;
}
