@import "tailwindcss";

@theme {
  --color-primary: #2563eb;
  --color-primary-light: #3b82f6;
  --color-secondary: #e0f2fe;
  --color-accent: #1d4ed8;
  --color-background: #f8fafc;
  --color-foreground: #0f172a;
}

.dark {
  --color-primary: #60a5fa;
  --color-primary-light: #93c5fd;
  --color-secondary: #1e293b;
  --color-accent: #3b82f6;
  --color-background: #0f172a;
  --color-foreground: #f8fafc;
}
