@import "tailwindcss";
@custom-variant dark (&:where(.dark, .dark *));

@theme {
  --color-primary: #2563eb;
  --color-primary-light: #3b82f6;
  --color-secondary: #e0f2fe;
  --color-accent: #1d4ed8;
  --color-background: #f8fafc;
  --color-foreground: #0f172a;

  --color-primary-dark: #60a5fa;
  --color-primary-light-dark: #93c5fd;
  --color-secondary-dark: #1e293b;
  --color-accent-dark: #3b82f6;
  --color-background-dark: #0f172a;
  --color-foreground-dark: #f8fafc;
  --color-bg-gradient: ;
}

.bg-gradient {
  @apply backdrop-blur-md bg-gradient-to-tl  from-primary/70  to-indigo-500 dark:bg-primary-light/70;
}
